.aboutCompeny {
  margin-bottom: -47px;
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #a29276;
  }
  .section-text {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .highlight {
    color: #a29276;
    font-weight: bold;
  }
}
